<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">질문 삭제 확인</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="mb-3">정말로 삭제하시겠습니까?"</p>
        <form
          action="{% url 'pybo:question_delete' question.id %}"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">확인</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            취소
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
